<div class="container-fluid row mt-4 mb-n5">
  <h5>{{courseClass.title}}: {{'Events.Events' | translate}}</h5>
</div>
<div class="btn-toolbar ml-2 my-2  justify-content-end" role="toolbar">
  <div class="btn-group" role="group">
    <button (click)="tableView=true"
            [ngClass]="{ 'btn-indigo': tableView, 'btn-gray-100 text-gray-300': !tableView }" class="btn"><i
      class="fas fa-list"></i></button>
    <button type="button" (click)="tableView=false; createCalendarView()"
            [ngClass]="{ 'btn-indigo': !tableView , 'btn-gray-100 text-gray-300': tableView}" class="btn"><i
      class="fas fa-calendar"></i></button>
  </div>
</div>


<div *ngIf="tableView; else calendarView">
  <div class="col-12 my-2">
    <div class="row">
      <div class="col-12">
        <app-advanced-table-search #advancedSearch [mergeQueryParams]="true" [(filter)]="filter" [collapsed]="true" [table]="table">
          <advanced-search>
            <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                      [(filter)]="filter" [form]="searchConfiguration"></app-advanced-search-form>
          </advanced-search>
        </app-advanced-table-search>
      </div>
    </div>
  </div>
<div class="col-12">
  <app-table-simple-header [table]="table">
    <table-simple-header-tools>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" *ngIf="isAllowed" (click)="newSimpleEvent()">
        <span>+ {{'Events.newSimpleEvent' | translate}}</span>
      </button>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" *ngIf="isAllowed" (click)="newRecursiveEvent()">
        <span>+ {{'Events.newRecursiveEvent' | translate}}</span>
      </button>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" (click)="exportCalendar()">
        <span><i class="fas fa-download mr-2"></i>{{'Events.Export' | translate}}</span>
      </button>
      <div class="btn-group" *ngIf="showActions">
        <button [disabled]="!(table.selected && table.selected.length)"
                class="btn btn-outline-indigo btn-lg" type="button" (click)="openEventAction()"
                [translate]="'Events.OpenEvent'">
          Open
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"
                  (click)="openEventAction()" [translate]="'Events.OpenEvent'">Open
          </button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"
                  (click)="closeAction()" [translate]="'Events.CloseEvent'">Close
          </button>
          <!-- <button [disabled]="!(table?.selected && table?.selected.length)" class="dropdown-item"
                  (click)="copyAction()" [translate]="'Classes.CalculateAbsences'">Calculate absences
          </button> -->

          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all
          </button>
          <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear
            selection
          </button>
        </div>
      </div>
    </table-simple-header-tools>
  </app-table-simple-header>
  <app-advanced-table #table [config]="tableConfiguration"></app-advanced-table>
</div>
</div>
<ng-template #calendarView>
  <div class="btn-toolbar justify-content-end" role="toolbar">
    <div class="row">
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" *ngIf="isAllowed" (click)="newSimpleEvent()">
        <span>+ {{'Events.newSimpleEvent' | translate}}</span>
      </button>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" *ngIf="isAllowed" (click)="newRecursiveEvent()">
        <span>+ {{'Events.newRecursiveEvent' | translate}}</span>
      </button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-indigo"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          [translate]="previousTranslation"
        >
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          [translate]="todayTranslation"
        >
        </div>
        <div
          class="btn btn-indigo"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          [translate]="nextTranslation"
        >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'): locale }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-indigo"
          (click)="setView(CalendarView.Month); activeDayIsOpen = false"
          [class.active]="view === CalendarView.Month"
          [translate]="'Events.Month'"
        >
        </div>
        <div
          class="btn btn-indigo"
          (click)="setView(CalendarView.Week); activeDayIsOpen= false"
          [class.active]="view === CalendarView.Week"
          [translate]="'Events.Week'"
        >
        </div>
        <div
          class="btn btn-indigo"
          (click)="setView(CalendarView.Day); activeDayIsOpen=false"
          [class.active]="view === CalendarView.Day"
          [translate]="'Events.Day'"
        >
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [activeDayIsOpen]="activeDayIsOpen"
      [refresh]="newEventSubject"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="navigateToEvent($event.event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="newEventSubject"
      (eventClicked)="navigateToEvent($event.event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="newEventSubject"
      (eventClicked)="navigateToEvent($event.event)"
    >
    </mwl-calendar-day-view>
  </div>
</ng-template>
<router-outlet></router-outlet>
