<div class="container-fluid">
  <h5>{{event.name}}: {{event.startDate |localizedDate}} - {{'Events.PresenceList' | translate}}</h5>
</div>

<div class="col-12 my-2">
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                    [(filter)]="filter.value" [form]="searchConfiguration"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
</div>
<a class="text-secondary btn btn-lg btn-default text-decoration-none mr-2 " [routerLink]="['../../']">
  <span>{{'Events.Back' | translate}}</span>
</a>
<div class="col-12">
  <app-table-simple-header [table]="table">
    <table-simple-header-tools>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" [tooltip]="'Events.AllPresentTooltip' | translate" placement="bottom" [disabled] = '!eventStatus' (click)="allPresent()">
        <span>{{'Events.AllPresent' | translate}}</span>
      </button>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" [tooltip]="'Events.SaveTooltip' | translate" placement="bottom" [disabled] = '!eventStatus' (click)="save()">
        <span>{{'Events.Save' |translate}}</span>
      </button>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" [tooltip]="'Events.CommitTooltip' | translate" placement="left" [disabled] = '!eventStatus' (click)="commit()">
        <span>{{'Events.Commit' | translate}}</span>
      </button>
    </table-simple-header-tools>
  </app-table-simple-header>
  <app-advanced-table #table atableEditor [config]="tableConfiguration" [paging]="true" (load)="onDataLoad($event)" [serverSide]="true"></app-advanced-table>
  <!-- <app-advanced-table #table [config]="tableConfiguration" [selectable]="true" [paging]="true" [scrollable]="true" [showFooter]="false" [serverSide]=false></app-advanced-table> -->
</div>
